*#*#
*~

.iterm*
.CFUserTextEncoding
.DS_Store
.Trash
Applications
Desktop
Documents
Downloads
Library
OneDrive*
Movies
Music
Pictures
Public

.gnome
.mozilla
.pki
.pp_backup
.sudo_as_admin_successful
.xsession*
.Xauthority
snap
Videos
Templates

.aws
.aws-sam
.bash_history
.bash_sessions
.cache
.config
.cups
.docker
.env
.emacs.d
.git-credentials
.less*
.local
.mysql_history
.npm
.profile
.pylint.d
.python_history
.r
.rstudio-desktop
.serverless*
.ssh
.tmux/resurrect
.tmux_history
.tmux-session
.vscode
.zprofile
.zsh_history
.zsh_sessions
.RData
.Rhistory
bin/tmux-resurrect
github
issues
