*#*#
*~
.aws
.bash_sessions
.cache
.CFUserTextEncoding
.config
.cups
.docker
.emacs.d
.env
.iterm2
.local
.profile
.r
.rstudio-desktop
.ssh
.tmux/resurrect
.tmux_history
.tmux-session
.Trash
.vscode
Applications
Desktop
Documents
Downloads
bin/tmux-resurrect
github
issues
Library
Movies
Music
OneDrive*
Pictures
Public
smb
.bash_history
.iterm*
.less*
.RData
.Rhistory