# ENV
#virtualenv
#sceptre
#awscli
#aws-sam-cli
# https://srinivas1996kumar.medium.com/adding-custom-kernels-to-a-jupyter-notebook-in-visual-studio-53e4d595208c
boto3
jinja2

# Jupyter
nbconvert

# Analysis
datetime
tzlocal
import_ipynb
ipykernel
ipympl
openpyxl
pyarrow
pyod
fastparquet
Pillow
pandas
pyspark
scipy
stumpy

# ML
sagemaker
#protobuf==3.19.4
skforecast
#sklearn
scikit-learn
sktime
#tensorflow
tensorflow-macos
xgboost
catboost

minisom
tslearn

# NLP
chardet
cchardet
nltk

# Plot
matplotlib
seaborn
